{% extends 'base.html' %} {% block content %}

<h1>Read more about the icon of the century</h1>
<hr />

<h2> #1 highest Grammy award winner!</h2>

<p> Beyoncé Giselle Knowles-Carter  born September 4, 1981 is an American singer, songwriter, and dancer. Beyoncé has been noted for her boundary-pushing artistry and her vocal prowess. Her success has made her a cultural icon and earned her the nickname "Queen Bey".

    She rose to fame in the late 1990s as a member of the R&B girl group Destiny's Child, one of the best-selling girl groups of all time. B eventually went solo and put out her first album, Dangerously in Love which shattered glass ceilings and record sales.
    
    She is one of the world's best-selling recording artists, having sold over 200 million records worldwide. Her success during the 2000s was recognized with the Recording Industry Association of America (RIAA)'s Top Certified Artist of the Decade as well as Billboard's Top Female Artist of the Decade. She is the first solo artist to have their first seven studio albums debut at number one on the Billboard 200.Beyoncé's accolades include 32 Grammy Awards (the most of any person), 88 grammy nominations tying with her husband Jay-Z as the most grammy nominations of ALL TIME,26 MTV Video Music Awards (including the Michael Jackson Video Vanguard Award in 2014), 24 NAACP Image Awards, 31 BET Awards, and 17 Soul Train Music Awards; all of which are more than any other singer. In 2014, Billboard named her the highest-earning black musician of all time, while in 2020, she was included on Time's list of 100 women who defined the last century.

In conclusion, this woman is an ICON, she IS the glass ceiling.
</p>    
{% endblock %}